.Wrap h1 {
  width: 383.41px;
  font-weight: 500;
  font-size: 35px;
  color: #0B132A;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.Wrap p {
  width: 555px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin: auto;
  text-align: center;
}

.imgGlobal {
  display: block;
  margin: 0 auto;
  width: 1060px;
  margin-top: 155.81px;
}

/* Sponsored */
.wrapBottom {
  position: relative;
  padding-bottom: 1px;
}

.sponsored {
  margin: auto;
  width: 1135.64px;
  height: 208.32px;
  display: flex;
  padding: 74.16px 0;
}

.sponsored div {
  width: 198px;
  height: 60px;
  margin-right: 47.5px;
  background-position: center;
  background-repeat: no-repeat;
}

.sponsored .netflix {
  background-image: url("/netflix.png");
}

.sponsored .reddit {
  background-image: url("/reddit.png");
  background-size: cover;
}

.sponsored .amazon {
  background-image: url("/amazon.png");
}

.sponsored .discord {
  background-image: url("/discord.png");
}

.sponsored .spotify {
  background-image: url("/spotify.png");
}