/* Pricing */
.Wrap {
  margin-top: 100px;
  padding-top: 100px;
}

.Wrap h1 {
  width: 383.41px;
  font-weight: 500;
  font-size: 35px;
  color: #0B132A;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.Wrap p {
  width: 555px;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin: auto;
  text-align: center;
}

.pricing {
  display: flex;
  padding-top: 60px;
  padding-bottom: 150px;
}

.pricing .pricingWrap {
  position: relative;
  margin: 25px;
  width: 330px;
  height: 760px;
  border-radius: 10px;
  border: 2px solid #DDDDDD;
  background-color: #ffffff;
}

.pricing .pricingWrap:hover {
  border: 2px solid #F53838;
}

.pricing img {
  padding: 78.63px 92.55px 30px 92.55px;
  display: flex;
}

.pricing h1 {
  width: 320px;
  height: 30px;
  font-weight: 500;
  font-size: 18px;
  color: #0B132A;
  margin-bottom: 30px;
}

.pricing h2 {
  font-weight: 400;
  width: 325px;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
  position: absolute;
  bottom: 115px;
}

.pricing h2 span {
  font-weight: 500;
}

.pricing button {
  width: 177.88px;
  height: 45px;
  border: 2px solid #F53838;
  border-radius: 50px;
  outline: none;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: #F53838;
  position: absolute;
  bottom: 50px;
  right: 76.08px;
}

.pricing button:hover {
  background-color: #F53838;
  color: #FFFFFF;
  box-shadow: 0px 25px 20px rgba(245, 56, 56, 0.35);
}

.pricingWrap .pricingDetail {
  display: flex;
}

.pricingWrap .pricingImg img {
  padding: 7px 25.61px 23px 75.19px;
}

.pricingWrap .pricingP p {
  width: 210px;
  font-weight: 400;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  text-align: left;
}

.imgGlobal {
  width: 1060px;
  margin-left: 39.14px;
  margin-top: 155.81px;
}