/* Subscribe */
.subscribe {
    width: 1140px;
    height: 233px;
    margin: 0 150px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 25px 20px rgba(13, 16, 37, 0.06);
    position: absolute;
    bottom: -116.5px;
    display: flex;
  }
  .subscribeLeft {
    padding: 58.5px 340px 58.5px 70px;
  }
  .subscribeRight {
    padding: 86.5px 70px 86.5px 0;
  }
  .subscribe .subscribeLeft h1 {
    width: 371.61px;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    text-align: left;
  }
  .subscribe .subscribeLeft p {
    width: 410px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: left;
  }
  .subscribe .btnSub {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #F53838;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    outline: none;
    box-shadow: 0px 25px 20px rgba(245, 56, 56, 0.35);
  }
  